{% load i18n static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr,auto' }}">
<head>
  <title>{% block title %}{% endblock %}</title>
{% load static %}
<link rel="stylesheet" href="{% block stylesheet %}{% static "polls/style.css" %}{% endblock %}">
</head>

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"


{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}


</body>
</html>




